$light_blue: #82ABCA;
$dark_blue: #004E89;
$eggshell: #EFEFD0;
$peach: #F7C59F;
$pumpkin: #FF6B35;
$bad_red: #9D0600;
$default_bg_color: #f5f5f5;

$default_margin: 20px;
$sidebar_width_right: 270px;
$sidebar_width_left: 180px;
$top_margin: 60px;
$main_container_width: 80%;
$default_min_container_width: 280px;
$default_max_container_width: 800px;

// body,html {
//   // margin:0;
//   // padding:0;
//   // font-family: 'Nunito', sans-serif;
//   // .char-limit { color: $bad_red; font-size: 12px; padding-left: $default_margin/4; }
//   // .control {
//   //   .input, .select, .textarea {
//   //     &:active, &:focus { border-color: $dark_blue; }
//   //   }
//   // }
// }
