/*neutral*/
* {
  font-family: 'karla', sans-serif;
}.lchco-footer,
.lchco-header {
  background: #3d4773;
  color: white;
}
.lchco-ctas-button {
  color: #3d4773;
}@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
}
/*text*/
.lchco-heading {
  font-weight: 100;
  font-size: 48px;
  line-height: 68px;
}
@media (max-width: 900px) {
.lchco-heading {
    font-size: 32px;
    line-height: 40px;
  }
}
.lchco-subheading {
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}
@media (max-width: 900px) {
  .lchco-subheading {
    font-size: 24px;
    line-height: 35px;
  }
}
.lchco-paragraph {
  font-size: 17px;
  line-height: 32px;
  font-weight: 100;
}
.lchco-heading + .lchco-paragraph {
  margin-top: 30px;
}
.lchco-subheading + .lchco-paragraph {
  margin-top: 10px;
}
p.lchco-paragraph {
  color: rgba(0,0,0,.5);
}
.lchco-logo {
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
  color: white;
  &:hover { color: white; }
}
@media (max-width: 420px) {
  .lchco-logo {
    font-size: 22px;
  }
}
.lchco-nav-link2,
.lchco-nav-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
}
.lchco-nav-link:not(:first-of-type) {
  margin-left: 20px;
}
.lchco-text-center {
  text-align: center;
}
.lchco-text-right {
  text-align: right;
}
/*flexbox styles*/
.lchco-flex,
.lchco-spread,
.lchco-center,
.lchco-right,
.lchco-vertical,
.lchco-centervertical {
  display: flex;
}
.lchco-spread {
  justify-content: space-between;
}
.lchco-center {
  align-items: center;
  justify-content: center;
}
.lchco-centervertical {
  flex-direction: column;
  justify-content: center;
}
.lchco-right {
  justify-content: flex-end;
}
.lchco-vertical {
  flex-direction: column;
}
/*grid*/
.lchco-col-1,
.lchco-col-2,
.lchco-col-3,
.lchco-col-4,
.lchco-col-5,
.lchco-col-6,
.lchco-col-7,
.lchco-col-8,
.lchco-col-9,
.lchco-col-10,
.lchco-col-11,
.lchco-col-12 {
  padding: 0 20px;
}
.lchco-col-1 {width: 8.333333%;}
.lchco-col-2 {width: 16.666667%;}
.lchco-col-3 {width: 25%;}
.lchco-col-4 {width: 33.333333%;}
.lchco-col-5 {width: 41.666667%;}
.lchco-col-6 {width: 50%;}
.lchco-col-7 {width: 58.333333%;}
.lchco-col-8 {width: 66.666667%;}
.lchco-col-9 {width: 75%;}
.lchco-col-10 {width: 83.333333%;}
.lchco-col-11 {width: 91.666667%;}
.lchco-col-12 {width: 100%;}

/*containers*/
.lchco-container-lrg,
.lchco-container-sml {
  margin: auto;
  width: 100%;
}
.lchco-container-lrg {
  max-width: 1080px;
}
.lchco-container-sml {
  max-width: 700px;
}
.lchco-ctas {
  margin: 40px 0 0 0;
}
.lchco-centerdevices,
.lchco-sidedevices {
  position: relative;
}.lchco-header {
  padding: 20px 0 60px 0;
  overflow: hidden;
}
.lchco-header .lchco-sidedevices {
  margin: 60px 0 0
}
@media (max-width: 900px) {
  .lchco-header .lchco-sidedevices {
    min-height: inherit;
  }
  .lchco-header .lchco-flex {
    flex-direction: column;
  }
  .lchco-header .lchco-heading {
    margin-top: 60px;
  }
  .lchco-header .lchco-col-6 {
    width: 100%;
  }
}.lchco-ctas-input {
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  width: 260px;
  display: inline-block;
}
.lchco-ctas-button {
  display: inline-block;
  margin: 0 0 0 10px;
  height: 40px;
  line-height: 38px;
  padding: 0 30px;
  background: #fff;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .3px;
  border: 1px solid white;
  text-decoration: none;
}
@media (max-width: 440px) {
  .lchco-ctas-input,
  .lchco-ctas-button {
    display: block;
    width: 100%;
    text-align: center;
  }
  .lchco-ctas-button {
    margin: 10px 0 0 0;
  }
}.lchco-socialproof {
  padding: 90px 0;
}
.lchco-socialproof img {
  max-height: 45px;
  max-width: 100%;
  margin-top: 45px;
}
.lchco-socialproof .lchco-logos {
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .lchco-socialproof .lchco-col-3 {
    width: 33.33%;
  }
}.lchco-ctas-button,
.lchco-ctas-button-2 {
  display: inline-block;
  height: 40px;
  line-height: 38px;
  padding: 0 30px;
  background: #fff;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .3px;
  border: 1px solid white;
  text-decoration: none;
}
.lchco-ctas-button-2 {
  background: transparent;
  color: white;
  margin: 0 0 0 10px;
}
@media (max-width: 440px) {
  .lchco-ctas-button,
  .lchco-ctas-button-2 {
    display: block;
    width: 100%;
    text-align: center;
  }
  .lchco-ctas-button-2 {
    margin: 10px 0 0 0;
  }
}.lchco-footer {
  padding: 90px 0 45px;
}
.lchco-footer .lchco-footer-nav {
  padding-top: 90px;
}
.lchco-footer .lchco-nav-link {
  display: inline-block;
  margin: 0 10px;
}.lchco-ctas-input {
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  width: 260px;
  display: inline-block;
}
.lchco-ctas-button {
  display: inline-block;
  margin: 0 0 0 10px;
  height: 40px;
  line-height: 38px;
  padding: 0 30px;
  background: #fff;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .3px;
  border: 1px solid white;
  text-decoration: none;
}
@media (max-width: 440px) {
  .lchco-ctas-input,
  .lchco-ctas-button {
    display: block;
    width: 100%;
    text-align: center;
  }
  .lchco-ctas-button {
    margin: 10px 0 0 0;
  }
}.lchco-feature3 {
  padding: 90px 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.lchco-feature3 .lchco-emoji {
  font-size: 55px;
  color: black
}
@media (max-width: 750px) {
  .lchco-feature3 .lchco-emoji {
    font-size: 40px;
  }
  .lchco-feature3 .lchco-flex {
    flex-wrap: wrap;
  }
  .lchco-feature3 .lchco-col-4:nth-of-type(1) {
    width: 100%;
    margin-bottom: 30px;
  }
  .lchco-feature3 .lchco-col-4:not(:nth-of-type(1)) {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .lchco-feature3 .lchco-col-4:nth-of-type(1) {
    margin-bottom: 0;
  }
  .lchco-feature3 .lchco-col-4:not(:nth-of-type(1)) {
    width: 100%;
    margin-top: 30px;
  }
}