.search-page {
  background-color: $default_bg_color; min-height: 100vh; padding: 0 $default_margin/2;
  .main-container {
    padding: $default_margin; width: $main_container_width; min-width: $default_min_container_width; max-width: $default_max_container_width; display: block; margin: auto;
    .results-container {
      .box .media {
        .media-left {
          .image {
            height: 100%; margin-top: $default_margin/2;
            img { border: 1px solid #ccc; border-radius: 5%; overflow: hidden; }
          }
        }
      }
    }
  }
}
